.about-us {
  padding: 4rem 0;

  h3 {
    text-transform: uppercase;
    color: #F2724A;
    font-size: 1rem;
    font-weight: bold;
  }

  h4 {
    color: #050C23;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

